html,body {
  font-family: 'Lato', arial, sans-serif;
  margin: 0;
}

a {
  color: rgba(244, 244, 244, 0.7);
  text-decoration: none;
}

.site-heading {
  font-size: 26px;
  font-weight: 700;
}

.content-container {
  position: relative;
  z-index: 0;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
  transition: all .3s ease-in-out;
  margin-top: 25px;
}

/** 3 column layouot **/
.cols-3 {
  width: 30%;
  display: inline-block;
  margin: 5px;
}

/** Form controls **/
.control-label {
  display: block;
  padding: 5px 0;
  font-weight: 700;
}

.control-field {
  width: 100%;
  padding: 5px 0;
  background: #fff;
}

.content p {
  line-height: 1.6em;
  margin-bottom: 24px;
}
/** menu items **/
.slideout-sidebar {
  position: fixed;
  top: 0;
  left: -190px;
  z-index: 10;
  width: 150px;
  height: 100%;
  padding: 20px;
  background-color: #212121;
  transition: all .3s ease-in-out;
}

.slideout-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideout-sidebar ul li {
  cursor: pointer;
  padding: 18px 0;
  border-bottom: 1px solid rgba(244, 244, 244, 0.4);
  color: rgba(244, 244, 244, 0.7);
}

.slideout-sidebar ul li:last-child {
  border-bottom: 0;
}

.slideout-sidebar ul li:hover {
  color: rgba(244, 244, 244, 1);
}

#menu-toggle {
  display: none;
}

.menu-icon {
  position: fixed;
  top: 0px;
  left: 0px;
  font-size: 24px;
  z-index: 1;
  transition: all 300ms ease-in-out;
  width: 100%;
  background: #cdcdcd;
  padding: 10px;
  text-align: center;
}

#menu-toggle:checked ~ .slideout-sidebar {
  left: 0px;
}

#menu-toggle:checked + .menu-icon {
  left: 190px;
}

#menu-toggle:checked + .menu-icon > label > img {
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

#menu-toggle:checked ~ .content-container {
  padding-left: 190px;
}

.btn {
  background: #cdcdcd;
  color: #000000;
  border: 1px solid #000000;
}

.footer {
  width: 100%;
  background: #000000;
  margin: 0;
  padding: 0;
  display: block;
}

.copyright {
  font-size: 16px;
  text-align: left;
  color: #fff;
  padding: 20px;
  margin: 0;
}

/** Media Queries **/

@media (max-width: 991px) {
  .content-container {
    max-width: 500px;
  }
}

@media (max-width: 559px) {
  .cols-3 {
    width: 100%;
    display: block;
    margin: 5px;
  }

  .content-container {
    max-width: 100%;
    margin: 30px auto 0;
  }

  #menu-toggle:checked ~ .content-container {
    padding-left: 0;
  }

  .slideout-sidebar ul {
    text-align: center;
    max-width: 200px;
    margin: 30px auto 0;
  }
	@  media  
     (max-width: 736px) 
    and (orientation: landscape) {
    .slideout-sidebar {
        padding: 0;
  }

  .slideout-sidebar ul {
    max-width: 100%;
    margin: 60px auto 0;
  }

  .slideout-sidebar ul li {
    display: inline-block;
    border-bottom: 0;
    width: 72px;
    padding: 18px 24px;
    margin: 0 6px 12px;
    color: #ffffff;
    background-color: #777;
  }
}